<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<div layout:fragment="content">

  <div class="container mt-3">
    <h2>상품 자세히 보기</h2>
    <th:block th:if="${loginMember.email==item.memberResponseDto.email}">
      <button type="button" class="btn btn-warning" id="updateForm-item-btn" th:onclick="|location.href='@{|/updateForm/item/${item.id}|}'|">수정</button>
      <button type="button" class="btn btn-danger" id="delete-item-btn">삭제</button>
    </th:block>
    <th:block th:if="${loginMember.email!=item.memberResponseDto.email}">
      <button type="button" class="btn btn-info" id="orderForm-item-btn" th:onclick="|location.href='@{|/orderForm/${item.id}|}'|">구매</button>
    </th:block>

    <form action="/api/item" id="save-form" method="post" enctype="multipart/form-data">
      <input type="hidden" th:value="${item.id}" name="id" id="id">

      <div class="mb-3 mt-3">
        <label for="name">상품명:</label>
        <input type="text" class="form-control" id="name" th:value="${item.name}" name="name" readonly>
      </div>

      <div class="mb-3">
        <label for="detail">상품 설명:</label>
        <input type="text" class="form-control" id="detail" th:value="${item.detail}" name="detail" readonly>
      </div>
      <div class="mb-3">
        <label for="price">가격:</label>
        <input type="number" class="form-control" id="price" th:value="${item.price}" name="price" readonly>
      </div>
      <div class="mb-3">
        <label for="stock">재고:</label>
        <input type="number" class="form-control" id="stock" th:value="${item.stock}" name="stock" readonly>
      </div>
      <div class="mb-3">
        <label for="status">상태:</label>
        <input type="text" class="form-control" id="status" th:value="${item.status}" name="status" readonly>
      </div>
      <div class="mb-3">
        <label for="img">사진:</label>
        <br>
        <img th:src="${item.imgPath}" id="img" class="form" width="304" height="236" >
      </div>
    </form>
  </div>
</div>
</html>
