<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<div layout:fragment="content">

    <div class="container mt-3">
        <h2>주문하기</h2>
        <div class="row">
            <div class="col-sm-5">
                <form action="/api/item" id="save-form" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:value="${item.id}" name="id" id="id">

                    <div class="mb-3 mt-3">
                        <label for="name">상품명:</label>
                        <input type="text" class="form-control" id="name" th:value="${item.name}" name="name" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="detail">상품 설명:</label>
                        <input type="text" class="form-control" id="detail" th:value="${item.detail}" name="detail"
                               readonly>
                    </div>
                    <div class="mb-3">
                        <label for="price">가격:</label>
                        <input type="number" class="form-control" id="price" th:value="${item.price}" name="price"
                               readonly>
                    </div>
                    <div class="mb-3">
                        <label for="stock">재고:</label>
                        <input type="number" class="form-control" id="stock" th:value="${item.stock}" name="stock"
                               readonly>
                    </div>
                    <div class="mb-3">
                        <label for="status">상태:</label>
                        <input type="text" class="form-control" id="status" th:value="${item.status}" name="status"
                               readonly>
                    </div>
                    <div class="mb-3">
                        <label for="img">사진:</label>
                        <br>
                        <img th:src="${item.imgPath}" id="img" class="form" width="304" height="236">
                    </div>
                </form>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-5">
                <h3>주문 정보</h3>
                <div class="mb-3">
                    <form action="/api/order" method="post"></form>
                    <label for="order-count">개수:</label>
                    <input type="number" class="form-control" id="order-count" placeholder="구매하실 개수를 입력해주세요"
                           name="count">
                    <br>
                    <br>
                    <h4 id="order-price">가격 : </h4>
                    <br>
                    <button type="button" id="order-save-btn" class="btn btn-info">주문하기</button>
                    <button type="button" id="cart-save-btn" class="btn btn-success">장바구니 담기</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        let itemForRequest = [[${item}]];
    </script>


    <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>

    <script
            type="text/javascript"
            src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
    ></script>
    <script>


        var IMP = window.IMP;
        IMP.init("imp01778154");

        function requestPay() {
            IMP.request_pay(
                {
                    pg: "html5_inicis",		//KG이니시스 pg파라미터 값
                    pay_method: "card",		//결제 방법
                    merchant_uid: "123457900",//주문번호
                    name: "테스트",		//상품 명
                    amount: 100,			//금액
                    buyer_email: "qkrtprjs@gmail.com",
                    buyer_name: "박세건",
                    buyer_tel: "010-4242-4242",
                    //buyer_addr: "서울특별시",
                    //buyer_postcode: "00000"
                    //           // m_redirect_url : '결제 완료후 이동할 페이지'
                },
                function (rsp) {
                    //결제완료후 후속 검증 실행(주문금액과 일치하는지 확인)
                    //console.log(rsp);   //결제 금액이 들어있음
                    if (rsp.success) {
                        //서버 검증 요청 부분
                        let data = {
                            imp_uid: rsp.imp_uid,            // 결제 고유번호
                            merchant_uid: rsp.merchant_uid,   // 주문번호
                            amount: rsp.paid_amount
                        }
                        $.ajax({
                            url: '/payment/verification',
                            method: 'POST',
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify(data)
                        }).done(function (data) {
                           // console.log(data);//주문 금액이 들어있음 	        	// 위의 rsp.paid_amount 와 data.response.amount를 비교한후 로직 실행 (import 서버검증)
                            if (rsp.paid_amount == data.response.amount) {
                                console.log(data);
                                alert("결제 및 결제검증완료");
                                cancelPay(rsp); // 테스트를 위한 위치
                            } else {
                                alert("결제 검증 실패 및 결제 취소");
                            }
                        });

                    }
                    //rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
                    else {
                        alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
                    }
                }

            );
        }
        function cancelPay(rsp) {
            $.ajax({
                url: '/payment/cancel',
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    "imp_uid": rsp.imp_uid,
                    "reason": "결제 검증실패",
                    "checksum": rsp.paid_amount
                })
            }).done(function (data) {
                alert("결제 검증 실패로 결제가 취소되었습니다!");
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }


    </script>
    <button onclick="requestPay()">결제하기</button>
</div>
</html>
