<!DOCTYPE html>
<html lang="en">
<div th:fragment="headerFragment"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="p-5 bg-secondary text-white text-center">
        <h1>Welcome To HappyExercise</h1>
        <p>쉽고 편하게 운동해보자~</p>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                <li  class="nav-item">
                    <a class="nav-link active" href="/">홈</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" href="/auth/login">로그인</a>
                </li>
            </ul>
            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link active" href="/">홈</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" href="/member/detail">내정보</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" href="/logout">로그아웃</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end" sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/orderList">구매내역</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>